/* body {
    background-image: url(IMAGES/javascript30-hero.jpg);
    width: 50%;
    height: 50%;
} */

body {
    background-color: #ece0d2;
}

h1 {
    color: #edc25a;
    text-align: center;
}
h2 {
    color: #8acecd;
    text-align: center;
}
h4 {
    color: #96ad9b;
    text-align: center;
    line-height: 1rem;
}

ol li {
    font-size: 1rem;
    line-height: 1em;
    color: black;
    padding: 10px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.item {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}